---
layout: page
title: "Research"
permalink: /research/
---

<!-- Section 1: PhD Thesis Overview -->
<section>
  <h2>PhD Thesis</h2>
  {% capture phd_thesis %}
  {% include phd-thesis.md %}
{% endcapture %}
{{ phd_thesis | markdownify }}
</section>

<!-- Section 1: PhD Research Project Boxes -->
<div class="portfolio-grid">
  {% assign phd_projects = site.publications | where:"category","PhD" | sort:"year" | reverse %}
  {% for pub in phd_projects %}
    <a href="{{ pub.link }}" class="portfolio-box" target="_blank">
      {% if pub.image %}
        <img src="{{ pub.image }}" alt="{{ pub.title }}">
      {% endif %}
      <div class="portfolio-text">
        <h3>{{ pub.title }}</h3>
        {% if pub.summary %}
          <p>{{ pub.summary }}</p>
        {% endif %}
      </div>
    </a>
  {% endfor %}
</div>

<!-- Section 2: Other Research Overview -->
<section style="margin-top: 2.5rem;">
  <h2>Other Research</h2>
   {% capture other-research %}
  {% include other-research.md %}
{% endcapture %}
{{ other-research | markdownify }}
</section>

<!-- Section 2: Other Research Project Boxes -->
<div class="portfolio-grid">
  {% assign other_projects = site.publications | where:"category","other research" | sort:"year" | reverse %}
  {% for pub in other_projects %}
    <a href="{{ pub.link }}" class="portfolio-box" target="_blank">
      {% if pub.image %}
        <img src="{{ pub.image }}" alt="{{ pub.title }}">
      {% endif %}
      <div class="portfolio-text">
        <h3>{{ pub.title }}</h3>
        {% if pub.summary %}
          <p>{{ pub.summary }}</p>
        {% endif %}
      </div>
    </a>
  {% endfor %}
</div>
